
.Button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 30px;
    min-width: 50px;
    background: var(--primary-color);
    box-shadow: 0px 0px 10px var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.button-text {
    font-size: var(--body-text-size);
    letter-spacing: 1px;
}