body {
    background-color: #181818;
    color: var(--primary-text-color);
    margin: 50px;

    --background-color: #181818;
    --dark-background-color: #090909;
    --border-color: #303030;
    --primary-text-color: #f8f8f8;
    --primary-color: #0971F1;

    --body-text-size: 16px;
}